<div class="map-layout">
    <div id="map"></div>
    <div class="map-container">
        <div class="row g-3" >
            <div class="col-md-3">
              <label for="inputEmail4" class="form-label">Latitude</label>
              <input type="text" class="form-control" id="inputEmail4" name="latitude" [(ngModel)]="latitude" >
            </div>
            <div class="col-md-3">
              <label for="inputPassword4" class="form-label">Latitude</label>
              <input type="text" class="form-control" id="inputPassword4" name="longitude" [(ngModel)]="longitude">
            </div>
            <div class="col-6">
              <label for="inputAddress" class="form-label">Landmark Name</label>
              <input type="text" class="form-control"id="inputAddress" name="landmarkName" [(ngModel)]="landmarkName">
            </div>
        </div>
    </div>
</div>




